* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(161, 158, 158);
}


/* popup */
.popup {
    display: none;
    position: fixed;
    padding-top: 50px;
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.popup__content {
    position: relative;
    background-color: #FAFAFA;
    padding: 15px;
    margin: 320px auto;
    width: 20%;
    text-align: center;
}


/* header */
header {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.header__left__nav {
    background-color: white !important;
}

.header__main ul li {
    display: inline-block;
    margin-right: 20px;
}

.header__main ul {
    list-style: none;
    padding: 0;
}

.header__main a {
    text-decoration: none;
}

.header__right li {
    margin-left: 50px;
}

.header__right ul li:hover {
    cursor: pointer;
}

.header__search {
    background-color: #fafafa;
    padding: 20px;
    height: 250px;
    display: none;
}

.header__search input {
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.header__search__close {
    position: absolute;
    right: 0px;
}

.header__search__close span:hover {
    cursor: pointer;
}

.header__search_button {
    width: 500px;
}
.count {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
}

/* section */
.container__main table {
    border: 1px solid black !important;
}

section {
    margin: 50px 50px;
}
thead td{
    text-align: center;
}
tbody td{
    text-align: center;
}


/* footer */
.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
}



.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
}

.first h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.first h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.first p {
    font-size: 14px;
}

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.second h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 40%;
}


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a,
.second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.second a:hover,
.second2 a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
    text-decoration: none
}



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206, 206, 206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


.third h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}


.third h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 80%;
}



.third li {
    list-style: none;
    padding-bottom: 15px;
}


.third a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}


.third a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
}


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

    .first h4::after {
        left: 40%;
    }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

    .third h4::after {
        left: 40% !important;
    }
}


.margin {
    margin-left: 20px;
}

.line {
    height: 2px;
    background-color: rgb(206, 206, 206);
    width: 100%;
}
/* payment */
.paymentButton{
    text-align: right;
}
.paymentButton button{
    height: 100px;
}
.container__main tr{
    padding: 15px;
    vertical-align: middle;
}
.container__main td{
    padding: 15px;
    vertical-align: middle;
}

.container__main td img {
    width: 200px;
    height: 200px;
}
.payment {
    display: block;
    position: fixed;
    padding-top: 50px;
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.payment__infor {
    position: relative;
    background-color: #FAFAFA;
    padding: 15px;
    margin: 150px auto;
    width: 70%;
    height: 57%;
    text-align: center;
}
.payment__infor__container{
    display: flex;
    justify-content: space-between;
}
.payment__infor__user{
    display: flex;
}
.payment__method__infor{
    display: flex;
}
.popup__confirm{
    margin-top: 50px;
}
.payment__method__infor__name input{
    width: 300px;
}
.payment__method__infor__number input{
    width: 300px;
}
.payment__method__infor__cvv input{
    width: 45px;
}
.payment__method__infor__expiration input{
    width: 150px;
}
.payment__method__infor__1{
    margin-right:20px
}
.payment__method__select{
    margin: 10px;
}
.payment__infor__user__fix__btn{
    width: 100px;
    height: 60px;
    margin: 5px 0px;
}
.payment__infor__user__fix{
    display: flex;
    flex-direction: column;
}
.payment__infor__user{
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.payment__infor__user__main table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
.payment__infor__user__main td{
    text-align: left;
}
.payment__infor__user__main input{
    padding-left: 10px;
    margin-left: 10px;
}
.payment__infor__cart__main img {
    width: 50px;
    height: 50px;
}
.popup__payment__confirm{
    display: flex;
    gap: 100px;
}
section img{
    background-color: rgba(255, 254, 254, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.paymentButton button{
    margin: 0px 20px;
}
.payment__infor__cart__main{
    height: 400px;
    overflow: auto;
}